<div class="row home">
    <div class="jumbotron col-12 col-md-6">
        <h1 class="display-4">DataTur</h1>
        <p class="lead">Seja bem-vindo ao DataTur. Aqui você encontrará análises e indicadores a respeito do turismo brasileiro.</p>
        <hr class="my-4">
        <p>Para visualizar o conteúdo, clique no botão abaixo.</p>
        <!-- <a class="btn btn-primary btn-lg" href="#/mapa" role="button">Ir para a análise :)</a> -->
        <a class="btn btn-primary btn-lg" href="#/mapa" role="button">Ir para a análise</a>
    </div>

    <div class="col-12 col-md-6" style="text-align: center;">
        <img id="mapaHome" src="img/art_home.png" alt="mtur">
    </div>
</div>