<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
      <img src="img/logo_nav.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="title-nav">Data</span><span class="title-nav-strong"><strong>Tur</strong></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Página Inicial</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#/mapa">Mapa</a>
      </li>
    </ul>
  </div>
</nav>