<footer id="footer">
    <div class="">
        <footer class="page-footer font-small blue pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="text-uppercase" style="font-weight: bold;">Secretaria Executiva</h5>
                        <p>Subsecretaria de Inovação e Gestão do Conhecimento – <strong>SIG</strong></p>
                        <p>Esplanada dos Ministérios, Bl. U - 2º/3º andar - Brasília/DF</p>
                        <p>CEP: 70065-900</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3" style="display: flex; align-items: center; justify-content: center;">
                        <!-- <h5 class="text-uppercase" style="font-weight: bold;">Ministério do Turismo</h5> -->
                        <img src="img/MTur_Patria Amada.png" width="302" height="73" class="d-flex align-middle" style="margin-bottom: 30px;" alt="">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</footer>